* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;

}

/* header section */

.header {
    text-align: right;
    background-image: url('../new-year-new-me-main/images/banner/banner2.png');

    height: 800px;
    width: 100%;

}

.header-section {
    padding: 200px 200px 275px 800px;
}

.primary-btn {
    background-color: orangered;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 30px;
}

.header-title {
    font-weight: 700;
    font-size: 45px;
    color: #151414;
    margin-bottom: 30px;
}

/* main section 1 styles */

.my-failures {
    display: flex;
    gap: 87px;
    padding: 180px 200px;
}

.failures-title {
    font-weight: 700;
    font-size: 40px;
    margin-top: 140px;
    margin-bottom: 24px;
    color: #444343;
}

.list {
    margin-top: 16px;
    list-style: none;
}

.list-item {
    margin-top: 16px;
}

/* section plan styles */
.plan-heading {
    text-align: center;
    font-weight: 700;
    font-size: 40px;

}

.plans {
    display: flex;
    justify-content: space-around;
    padding: 80px 180px;
}

.plan-title {
    font-weight: 700;
    font-size: 25px;
    margin-top: 25px;
}

.plan-description {
    font-size: 20px;
    line-height: 29px;
    color: #737272;
    margin-top: 16px;
}

.plan-image .plan-title .plan-description {
    justify-content: center;
    text-align: center;
}